    <nav class="navbar container-fluid vh-20 vw-100">
      <a href="#">
        <p class="navLinks">Antonio Portillo</p>
      </a>
      <a href="mailto:aportii45@gmail.com">
        <p class="navLinks">aportii45@gmail.com</p>
      </a>
    </nav>
    
    <div class="title container-fluid">
      <h2>TTC Brands</h2> 
      <p class="subTitle">Designed with Adobe XD and Built with WordPress</p>
    </div><!--end title -->
    
    <div class="titleParagraph container-fluid">
      <p>
        I was responsible for designing a new medical laboratory website and bringing it to production with WordPress. I designed the website by trying to make it as unique as possible and by asking customers for their service. I also produced it in WordPress.
      </p>
    </div>
    
    <div class="topPic">
      <img class="img-fluid" src="/assets/Sethi1.JPG" alt="">
    </div>
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Call-to-Action</h4>
        <p>I really wanted to grab any user that comes onto our page and get their information. I think that trying to increase the conversion rate of our customers is extremely important because we are helping them with their health.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi11.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi6.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>I wanted a layout that sells them the longer that they stay on the page</h4>
      </div>
    </div><!--end exhibitWrapper-->
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Well-Placed Q&A</h4>
        <p>Sales is all about meeting the customer's needs. I thought that if we placed a small Q&A on our page that we would be able to increase our conversion rate.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi13.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->


    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi7.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="secondSummary">
        <h4>Step-by-Step Sales</h4>
        <p>I designed this website to fully sell the customer on the idea that it was an easy process.</p>
      </div>
    </div><!--end exhibitWrapper-->



    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Honest Selling</h4>
        <p>Being trustworthy to the client is an extremely important part of making sales. I thought that, by placing great photos of the technicians, we would be able to increase the conversion rate.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi3.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    
    
    
    <div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="footerEmail">
        <a href="mailto:aportii45@gmail.com">
          <h2>aportii45@gmail.com</h2>
        </a>
      </div>
    </div>