    <nav class="navbar container-fluid vh-20 vw-100">
      <a href="#">
        <p class="navLinks">Antonio Portillo</p>
      </a>
      <a href="mailto:aportii45@gmail.com">
        <p class="navLinks">aportii45@gmail.com</p>
      </a>
    </nav>
    
    <div class="title container-fluid">
      <h2>TTC Brands</h2> 
      <p class="subTitle">Front-end development, UI Design <br> Built with Angular</p>
    </div><!--end title -->
    
    <div class="titleParagraph container-fluid">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue. Arcu non sodales neque sodales ut.
      </p>
    </div>
    
    <div class="topPic">
      <img class="img-fluid" src="/assets/Sethi1.JPG" alt="">
    </div>
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Call-to-Action</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi11.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi6.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Layout that Sells the longer they stay on the page</h4>
      </div>
    </div><!--end exhibitWrapper-->
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Well Organized</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi13.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->


    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi7.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="secondSummary">
        <h4>Effective Search</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
    </div><!--end exhibitWrapper-->



    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Well Organized</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Sethi3.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    
    
    
    <div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="footerEmail">
        <a href="mailto:aportii45@gmail.com">
          <h2>aportii45@gmail.com</h2>
        </a>
      </div>
    </div>