

    <nav class="navbar container-fluid vh-20 vw-100">
      <a href="#"><p class="navLinks">Antonio Portillo</p></a>
      <a href="mailto:aportii45@gmail.com"><p class="navLinks">aportii45@gmail.com</p></a>
    </nav>

    <div class="heroContainer container-fluid d-flex align-items-center justify-content-center">
          <h1 class="heroText text-center">Frontend <br> Developer</h1>
    </div>

      <div class="topSection row align-items-start">
        <div class="col">
          <p class="about text-center">About</p>
        </div>
        <div class="col">
          <p class="aboutSubsection">Hi, my name is Antonio Portillo and I help businesses get off their feet by designing and creating their websites.</p>
        </div>
        <div class="col">
          <div class="circle"></div>
        </div>
      </div><!--end topSection-->
      
      
      <div class="jobWrapper d-flex flex-column justify-content-center align-items-center">
        <div class="jobImage ">
          <img routerLink="/doplur" routerLinkActive="active" src="/assets/Doplur1.JPG" class="img-fluid" alt="">
        </div>
        <h2 class="text-center">Doplur, Inc.</h2>
        <h5 class="bottomText text-center">Designed with Adobe XD</h5>


        <div class="jobImage">
          <img src="/assets/Sethi1.JPG" class="img-fluid" alt="" routerLink="/ttc" routerLinkActive="active">
        </div>
        <h2 class="text-center">TTC Brands</h2>
        <h5 class="bottomText text-center">Designed with Adobe XD and Built with WordPress</h5>

        <div class="jobImage">
          <img src="/assets/Innocuous1.JPG" class="img-fluid" alt="" routerLink="/innocuous" routerLinkActive="active">
        </div>
        <h2 class="text-center">Innocuous AI</h2>
        <h5 class="text-center">Designed with Adobe XD and Built with WebFlow</h5>
      </div>
      <!--end jobWrapper-->





  <div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="footerEmail">
      <a class="foorerEmailLink" href="mailto:aportii45@gmail.com">
        <h2>aportii45@gmail.com</h2>
      </a>
    </div>
  </div>