
    <nav class="navbar container-fluid vh-20 vw-100">
      <a href="#">
        <p class="navLinks">Antonio Portillo</p>
      </a>
      <a href="mailto:aportii45@gmail.com">
        <p class="navLinks">aportii45@gmail.com</p>
      </a>
    </nav>
    
    <div class="title container-fluid">
      <h2>Innocuous AI</h2>
      <p class="subTitle">Designed with Adobe XD and Built with WebFlow </p>
    </div><!--end title -->
    
    <div class="titleParagraph container-fluid">
      <p>
        I designed and built the website of an artificial intelligence platform. I wanted to bring a modern design into an aging website. The original website looked old to me so I wanted to design a beautiful, effective website.
      </p>
    </div>


    <div class="topPic">
      <img class="img-fluid" src="/assets/Innocuous1.JPG" alt="">
    </div>
       
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Modern Design</h4>
        <p>This website is the website of an artificial intelligence platform so it should be as modern as possible. I really wanted this website to stand out.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous2.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous6.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Effective Design</h4>
        <p>I wanted the user to click on links on top of the artificial intelligence platform to show them how it looks like. The customer can click on links next to "Remote Development" and it will change the underlying photo of the AI platform. This would increase conversion rates.</p>
      </div>
    </div><!--end exhibitWrapper-->
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Unique Terminal</h4>
        <p>I created this design to fully show the customer how this AI platform can help them. The customer can click on the links next to "DevOps" and it will swipe right and show a different picture of the platform. </p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous7.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    
    
    
    
    <div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="footerEmail">
        <a href="mailto:aportii45@gmail.com">
          <h2>aportii45@gmail.com</h2>
        </a>
      </div>
    </div>