
    <nav class="navbar container-fluid vh-20 vw-100">
      <a href="#">
        <p class="navLinks">Antonio Portillo</p>
      </a>
      <a href="mailto:aportii45@gmail.com">
        <p class="navLinks">aportii45@gmail.com</p>
      </a>
    </nav>
    
    <div class="title container-fluid">
      <h2>Innocuous AI</h2>
      <p class="subTitle">Designed with Adobe XD and Built with WebFlow </p>
    </div><!--end title -->
    
    <div class="titleParagraph container-fluid">
      <p>
        As the lead designer and developer for an artificial intelligence platform, I had the exciting opportunity to revamp an
        outdated website and bring a fresh, modern design to life. From the outset, I was determined to create a website that
        was not only beautiful but also highly effective, with a design that would capture and hold users' attention.
      </p>
    </div>


    <div class="topPic">
      <img class="img-fluid" src="/assets/Innocuous1.JPG" alt="">
    </div>
       
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Modern Design</h4>
        <p>I employed a range of design techniques and best practices, utilizing bold, eye-catching graphics, a contemporary color scheme, and a streamlined, user-friendly interface.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous2.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous6.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Effective Design</h4>
        <p>I used clickable links that would allow users to explore the
        platform's features and capabilities in greater detail.</p>
      </div>
    </div><!--end exhibitWrapper-->
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Unique Terminal</h4>
        <p>I created this design to show the customer how the platform can help them.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous7.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    
    
    
    
    <div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="footerEmail">
        <a href="mailto:aportii45@gmail.com">
          <h2>aportii45@gmail.com</h2>
        </a>
      </div>
    </div>