
    <nav class="navbar container-fluid vh-20 vw-100">
      <a href="#">
        <p class="navLinks">Antonio Portillo</p>
      </a>
      <a href="mailto:aportii45@gmail.com">
        <p class="navLinks">aportii45@gmail.com</p>
      </a>
    </nav>
    
    <div class="title container-fluid">
      <h2>Innocuous AI</h2>
      <p class="subTitle">Front-end development, UI Design <br> Built with WebFlow</p>
    </div><!--end title -->
    
    <div class="titleParagraph container-fluid">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Eu mi bibendum neque egestas congue. Arcu non sodales neque sodales ut.
      </p>
    </div>


    <div class="topPic">
      <img class="img-fluid" src="/assets/Innocuous1.JPG" alt="">
    </div>
       
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Great Organization</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous2.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    <div class="exhibitWrapper row">
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous6.JPG" alt="My Doplur Project">
      </div>
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Modern Design</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
    </div><!--end exhibitWrapper-->
    
    
    <div class="exhibitWrapper row">
      <div class="summaryContainer container-fluid col-2 text-left align-self-center">
        <h4>Unique Terminal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. At risus viverra adipiscing at in tellus integer.</p>
      </div>
      <div class="exhibitContainer col-8 ">
        <img class="img-fluid" src="/assets/Innocuous7.JPG" alt="My Doplur Project">
      </div>
    </div><!--end exhibitWrapper-->
    
    
    
    
    
    <div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="footerEmail">
        <a href="mailto:aportii45@gmail.com">
          <h2>aportii45@gmail.com</h2>
        </a>
      </div>
    </div>