<nav class="navbar container-fluid vh-20 vw-100">
  <a href="#">
    <p class="navLinks">Antonio Portillo</p>
  </a>
  <a href="mailto:aportii45@gmail.com">
    <p class="navLinks">aportii45@gmail.com</p>
  </a>
</nav>

<div class="title container-fluid">
  <h2>Doplur, Inc.</h2>
  <p class="subTitle">Designed with Adobe XD</p>
</div><!--end title -->

<div class="titleParagraph container-fluid">
  <p>
    The CEO of this company wanted me to help them design a new social media podcast website. I really wanted to design
    a website that looked and felt easy to use. This was critically important because I wanted the users to upload as
    many podcasts as they desired.
  </p>
</div>

<div class="topPic">
  <img class="img-fluid" src="/assets/Doplur5.JPG" alt="">
</div>


<div class="exhibitWrapper row">
  <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="firstSummary">
    <h4 class="row">Convenient Interface</h4>
    <p class="row">With this interface, I thought that our users would be able to easily upload their own podcasts and
      post them on a timeline. They would be able to record their audio live or they could upload a pre-recorded
      podcast. They would be able to replay their old audio, listen to it and add comments on it.</p>
  </div>
  <div class="exhibitContainer col-8 ">
    <img class="img-fluid" src="/assets/Doplur1.JPG" alt="My Doplur Project">
  </div>
</div><!--end exhibitWrapper-->

<div class="exhibitWrapper row">
  <div class="exhibitContainer col-8 ">
    <img class="img-fluid" src="/assets/Doplur2.JPG" alt="My Doplur Project">
  </div>
  <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="secondSummary">
    <h4>Effective Search</h4>
    <p>I wanted to make it as easy as possible for the users to find what they are looking for throughout the whole
      site. They would have to type their search in the searchbar and the website would show their query.</p>
  </div>
</div><!--end exhibitWrapper-->


<div class="exhibitWrapper row">
  <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="thirdSummary">
    <h5>Clean Sign Up Page</h5>
    <p>I wanted as clean of a signup page as possible, in order to entice users to sign up.</p>
  </div>
  <div class="exhibitContainer col-8 ">
    <img class="img-fluid" src="/assets/Doplur3.JPG" alt="My Doplur Project">
  </div>
</div><!--end exhibitWrapper-->





<div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
  <div class="footerEmail">
    <a href="mailto:aportii45@gmail.com">
      <h2>aportii45@gmail.com</h2>
    </a>
  </div>
</div>