<nav class="navbar container-fluid vh-20 vw-100">
  <a href="#">
    <p class="navLinks">Antonio Portillo</p>
  </a>
  <a href="mailto:aportii45@gmail.com">
    <p class="navLinks">aportii45@gmail.com</p>
  </a>
</nav>

<div class="title container-fluid">
  <h2>Doplur, Inc.</h2>
  <p class="subTitle">Designed with Adobe XD</p>
</div><!--end title -->

<div class="titleParagraph container-fluid">
  <p>
    I had the privilege of working with the CEO of a company to develop a brand-new social media podcast website.
    My aim was to create a website that not only looked great but also offered an intuitive and effortless user
    experience. It was important for me to ensure that users could easily upload their podcasts with no difficulty.
    Through my expertise in web design, I was able to deliver a website that was both aesthetically pleasing and highly
    functional, exceeding the client's expectations.
  </p>
</div>

<div class="topPic">
  <img class="img-fluid" src="/assets/Doplur5.JPG" alt="">
</div>


<div class="exhibitWrapper row">
  <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="firstSummary">
    <h4 class="row">Convenient Interface</h4>
    <p class="row">My main focus was to create an effortless and engaging user experience. I wanted to provide users with a simple yet powerful tool to upload their podcasts and share them on a timeline. Whether users
    wished to record their audio live or upload a pre-recorded podcast, the platform made it easy and intuitive.</p>
  </div>
  <div class="exhibitContainer col-8 ">
    <img class="img-fluid" src="/assets/Doplur1.JPG" alt="My Doplur Project">
  </div>
</div><!--end exhibitWrapper-->

<div class="exhibitWrapper row">
  <div class="exhibitContainer col-8 ">
    <img class="img-fluid" src="/assets/Doplur2.JPG" alt="My Doplur Project">
  </div>
  <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="secondSummary">
    <h4>Effective Search</h4>
    <p>It was
    important for me for users to be able to navigate the website with ease and find what they were looking for. To
    achieve this, I implemented a user-friendly search feature, allowing users to quickly and efficiently search for
    any content they desired by typing in their queries.</p>
  </div>
</div><!--end exhibitWrapper-->


<div class="exhibitWrapper row">
  <div class="summaryContainer container-fluid col-2 text-left align-self-center" id="thirdSummary">
    <h4>Clean Sign Up Page</h4>
    <p>One of my key objectives in designing the website was to create a visually appealing and user-friendly signup page. I
    understood the importance of creating a first impression that would entice users to sign up for the platform. To achieve
    this goal, I focused on creating a clean and simple signup page that minimized clutter and distractions, thereby
    allowing users to focus on the sign-up process itself.</p>
  </div>
  <div class="exhibitContainer col-8 ">
    <img class="img-fluid" src="/assets/Doplur3.JPG" alt="My Doplur Project">
  </div>
</div><!--end exhibitWrapper-->





<div class="footer container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
  <div class="footerEmail">
    <a href="mailto:aportii45@gmail.com">
      <h2>aportii45@gmail.com</h2>
    </a>
  </div>
</div>